

* {
    margin: 0 ;
    padding: 0 ;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    background-image: url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
 /*    filter: brightness(.5); */
}


.content {
    padding: 170px 0;
    text-align: center;
}

.content .text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.content .title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0 127px;
    max-width: 518px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* closed container heading */


.container-categori {
    background: #fff;
    margin-top: 120px;
    margin-bottom: 120px;
}


.text-column .offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.text-column .deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.text-column .categori {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.img-column {
    width: 100%;
    text-align: center;
}


/* closed container-categori */



.banner {
    margin: 0 280px;
}


.midnight-party {
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}


.left-column {
    width: 526px;
    padding-top: 140px;
}

.left-column .title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 526px;
}


.banner .discription {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.banner .btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-top: 48px;
    margin-left: 30px;
    cursor: pointer;
}


.banner .btn:hover{
    border: 1px solid yellowgreen;
    border-radius: 50px;
    padding: 10px 30px;
    color: #F00;
    background: #070211;
}




.right-column img {
    width: 261px;
    padding: 150px 138px 67px 0px;

}



/* closed banner */



.container-address {
    margin: 120px 280px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;

}


.text {
    margin-bottom: 30px;
}



.sedule {
    padding: 100px 380px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;

}



.color {
    color: #F00;
}



.batton {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #F00;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: .4s;
}



.batton:hover {
    border: 2px solid yellow;
    color: #F00;
    background: #070211;
}




/* closed address section */




.container-offer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 120px 280px;
    align-items: center;
}



.left-column h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}



.left-column h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 15px;
}



.left-column p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 322px;
}



.right-column {
    align-items: center;
}




.right-column h4 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}


.right-column p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 226px;
}




.right-column img {
    max-width: 100%;
}



/* closed best-offer section */



.container-function {
    margin: 120px 280px;
}




.text-column {
    text-align: center;
}




.text-column h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}




.text-column h1 {
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}



.text-column p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 150px;
}



/* closed portfolio section */



.container-portfolio {
    margin: 120px 280px;
}



.container-portfolio .div-1 * {
    margin-bottom: 50px;
}



.container-portfolio .div-1 h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.container-portfolio .div-1 h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}



.container-portfolio .div-1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    padding: 20px 70px 20px 0px;
    width: 735px;

}


.container-portfolio .img-section img * {
    width: 100%;
}


.container-portfolio .div-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 24px;
}


.container-portfolio .pic-1:hover {
    border: 2px solid gray;
    border-radius: 16px;
}



.container-portfolio .pic-2:hover {
    border: 2px solid gray;
    border-radius: 16px;
}



.container-portfolio .pic-3:hover {
    border: 2px solid gray;
    border-radius: 16px;
}



.container-portfolio .div-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* closed portfolio section */



.suscribe-container {
    margin: 120px 280px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    height: 620px;
}


.suscribe-container img {
    margin: 80px 180px 40px 180px;
}


.suscribe-container h3 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}


.suscribe-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 734px;
    margin: 22px auto;
}


.input-section {
    display: flex;
    max-width: 531px;
    margin: 20px auto;
}



.input-section input {
    flex-grow: 1;

}


#email {
    padding: 25px 0px 25px 30px;
    color: rgba(7, 2, 17, 0.30);
    border: none;
    outline: none;
    font-size: 15px;
    padding-right: 100px;
    border-radius: 50px;
}

.submit {
    padding: 25px 0px 25px 30px;
    background-color: #F00;
    border: none;
    padding: 24px 56px;
    outline: none;
    font-size: 15px;
    color: #FFF;
    font-size: 15px;
    border-radius: 50px;
}



/*  closed suscribe section */



.footer {
    background: #070211;
}


.footer .container-footer {
    margin: 120px 280px;
}


.footer .div-one {
    display: flex;
    justify-content: space-between;
}


.footer .img {
    text-align: center;
}


.footer .div-three {
    display: flex;
    justify-content: space-between;
}


.footer .text-colum {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}


.footer .text-colum h5{
    margin-bottom: 40px;
    margin-top: 70px;
}


.footer .link-column {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    margin-top: 70px;
    margin-bottom: 40px;
    padding-right: 100px;
}


.footer .img{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 70px;
}

.footer .div-three  {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer .div-three p{
    margin-bottom: 60px;
    margin-top: 70px;
}