* {
    margin: 0;
    padding: 0;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    background-image: url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    padding: 145px 0;
    text-align: center;
}

.content .text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.content .title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0 127px;
    max-width: 518px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* closed container heading */


.container-categori {
    background: #fff;
    margin-top: 120px;
    margin-bottom: 120px;
}


.text-column .offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.text-column .deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.text-column .categori {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.img-column {
    width: 100%;
    text-align: center;
}


/* closed container-categori */



.banner {
    margin: 0 280px;
}


.midnight-party {
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}


.left-column {
    width: 526px;
    padding-top: 140px;
}

.left-column .title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 526px;
}


.discription {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-top: 48px;
    margin-left: 30px;
}



.right-column img {
    width: 261px;
    padding: 150px 138px 67px 0px;

}


/* closed banner */


.container-address {
    margin: 120px 280px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;

}


.text {
    margin-bottom: 30px;
}


.sedule {
    padding: 100px 380px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;

}


.color {
    color: #F00;
}


.batton {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #F00;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: .4s;
}

.batton:hover{
    background-color: blue;
    border: 1px solid yellowgreen;
}

/* closed address section */


